#container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    border-radius: 5px;
    border: 2px solid blue;
    justify-content: center;
    overflow: visible;
    width: 480px;
    height: 480px;
}

.gridBox {
    background-color: red;
    border: 1px solid black;
}